<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1 class="mainTitle">
    TARAS PETRYK
  </h1>
  <a href="#portfolio">PORTFOLIO</a>
  <a href="#virtual">GO VIRTUAL</a>
  <a href="#about">ABOUT</a>
  <a href="#contact">CONTACT</a>
<!--   <img src="https://s3-us-west-2.amazonaws.com/s1portfolio/images/2018/animatedspk3.gif"> -->
</div>

<div id="portfolio" class="portfolio">

  <h1 class="subTitle">
    Portfolio<span>(Click title to open link)</span>
  </h1>
<!--   <div ng-click="screenSwitch()" class="btn btn-outline-secondary vr-button">

  </div> -->

  <div class="row align-items-center  justify-content-around">
    <div class="portfolioBlocks col-md-3" *ngFor="let image of _albums; let i=index">

      <img class="row justify-content-around" [src]="image.thumb" (click)="open(i)"/>
      <a class="row justify-content-around" [href]="image.url" target="_self"><h3>{{image.caption}}</h3></a>

    </div>
  </div>
</div>

<!-- end portfolio -->


<div id="virtual"><span>Go Virtual</span> by clicking the virtual goggles &nbsp; &#10148;
  <a-scene embedded>
    <!-- Particle system uses 'default' preset, setting custom colors. -->
    <a-assets>
        <img id="grove" src="../assets/images/Grove.png">
        <img id="FL" src="../assets/images/FL.png">
        <img id="cc" src="../assets/images/CC.png">
        <img id="MJR-arcade" src="../assets/images/MJR-arcade.png">
        <img id="UMS" src="../assets/images/UMS.png">
        <img id="door" src="../assets/images/wooden-door.jpeg">
        <img id="doorOpen" src="../assets/images/wooden-door-open.png">
      </a-assets>
      <a-entity id="camHolder" position="0 0 0" rotation="0 -100 0">
        <a-camera wasd-controls look-controls>
          <a-cursor
            id="cursor"
            fuse="true"
            objects=".clickable"
            fuse-timeout="500"
            geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
            material="color: yellow"
            animation="startEvents: mouseenter; pauseEvents: mouseleave; property: scale; dur: 500; easing: easeInSine; loop: false; to: 1.5 1.5 1.5"
            animation__1="startEvents: mouseleave; property: scale; dur: 150; easing: easeInSine; loop: false; to: 1 1 1"
            >
            <!-- <a-animation begin="click" easing="ease-in" attribute="scale"
                   fill="backwards" from="0.1 0.1 0.1" to="1 1 1"></a-animation>
            <a-animation begin="cursor-fusing" easing="ease-in" attribute="geometry.thetaLength"
                   fill="forwards" from="0" to="360" dur="2500"></a-animation>
            <a-animation begin="mouseleave" easing="ease-in" attribute="geometry.thetaLength"
                   fill="forwards" from="0" to="360" dur="10"></a-animation>    -->
          </a-cursor>

        </a-camera>
      </a-entity>

      <a-entity position="0.87 1.2 -3" text="width: 4; value: Drag screen and use arrows; color: #b0bd84"></a-entity>

      <a-entity position="1.2 1 -3" text="width: 4; value:  More Coming Soon; color: #B0D154"></a-entity>
      <a-entity
        class="clickable"
        position="1.7 3 0"
        rotation="90 0 0"
        text="width: 4; value: Listen to \n Space ants; color: #00FBFF; negate: false; letterSpacing: 8;"
        sound="src: ../assets/sound/crickets-seq.mp3; on: click; loop:true; volume: 3;">
        </a-entity>

      <a-plane
        class="clickable"
        src="#grove"
        position="0 2 -2"
        rotation="0 0 0"
        scale="2 1 0">
      </a-plane>

      <a-plane
        class="clickable"
        src="#cc"
        position="0 2 -5"
        rotation="0 0 0"
        scale="2 1 0">
      </a-plane>

      <a-plane
        class="clickable"
        src="#FL"
        position="0 1.7 -9"
        rotation="0 0 0"
        scale="2 1 0">
      </a-plane>

      <a-plane
        class="clickable"
        src="#MJR-arcade"
        position="0 1.5 -12"
        rotation="0 0 0"
        scale="2 1 0"
        side="both"
        animation="property: rotation; startEvents: click; delay: 100; from: 0 0 0; to: 0 360 0; dur: 2000; loop:false;">
      </a-plane>

      <a-plane
        class="clickable"
        src="#UMS"
        position="0 1.5 -15"
        rotation="0 0 0"
        scale="2 1 0">
      </a-plane>

      <a-plane
        class="clickable"
        src="#door"
        position="-6 1.5 0"
        rotation="0 90 0"
        cursor-listener
        scale="1 1 0"
        sound="src: ../assets/sound/door-creak-1.wav; on: click; volume: 5;">
      </a-plane>

      <a-plane
        class="clickable"
        src="#doorOpen"
        position="-6.1 1.5 0"
        rotation="0 90 0"
        scale="1 1 0">
      </a-plane>

      <a-box
        position="6 2.5 3"
        rotation="0 45 0"
        color="#4CC3D9"
        class="clickable"
        cursor-listener1
        animation="startEvents: click; property: rotation; dur: 2500; easing: linear; loop: true; from:0 0 0; to: 360 0 360">
      </a-box>
      <a-sphere
        position="0 0 12"
        color="#4caf50"
        radius="2"
        metalness="0.6"
        animation__1="property: scale; dur: 10000; easing: linear; loop: true; dir: alternate; from: 0.01 0.01 0.01; to: 3 3 3"
      ></a-sphere>

      <a-entity position="0 2.25 -15" particle-system="preset: dust; color: #fff, #17a2b8; particleCount:2000"></a-entity>

      <a-entity position="0 2.25 -15" particle-system="preset: dust; color: #ff2036, #fff; particleCount:10000"></a-entity>

      <a-sky color="#000000"></a-sky>
    </a-scene>
</div>
<!-- end virtual -->
<div id="about" class="about">
  <h1 class="aboutTitle">
    About
  </h1>
  <p>
      My enthusiasm for new challenges, professionalism and range of work experience would be a valuable asset to any team. I am always excited to work with new people and learn new skills. I am curious and patient.<br><br>

    I enjoy the journey of a new challenge, from trying to understand the problem, looking for different solutions, and testing them out. My commitment to doing things well has turned each challenge into a learning opportunity.<br><br>

    Why did I start coding? While I love working in the music industry, I felt it was time for a new challenge. New technologies and problem solving have always excited me, and the creative side of coding intrigued me.<br><br>

    After some self motivated online learning and coding, I took Bitmaker Labs nine-week boot camp. I have always had to keep up on the latest tech and gear in the audio world, but this volume of new ideas was intense. It has led me to a desire to absorb more languages, and refine my understanding of the ones I have.<br><br>

    Life after Bitmakers - I had a three month internship at Myplanet learning Drupal, PHP, and more Javascript in an Agile methodology. Using D3, I created an art project that received a grant from the Toronto Arts council. To learn more on this project <a class="casey-link" href="http://caseysokol.com/simple_grove/home.html">click here </a> . I participated in the 2014 "Startup Weekend Library Edition", where my team placed third. I attended the 2015 Hardware Hackathon and FITC Conference. Recent projects have me exploring Virtual reality apps and websites along with spatial audio. I am also tinkering with Arduinos and Raspberry Pi's, building a bluetooth volume control.<br><br>

    History: Over 18 years in the music industry, first as a performer, then an engineer, producer, and most recently as a Mastering engineer. Two of the projects I have worked on were nominated for Juno awards. I have also taught audio engineering. The creative side to music is exciting for me, but also the technical aspect of sculpting sound and solving problems. Through these experiences, I have collaborated with a wide range of individuals and groups, which has helped to develop my customer relation skills and build my networks. SerpentOne is the recording business I have run since 1999. I started it as a part time passion, but it grew to a full time dedication. Running my own business taught me the importance of managing my time and managing competing priorities, but also listening to the needs of the client. Creating an album is a team project, incorporating several people with different skills, ideas and attitudes working together towards the same goal. These are experiences that I can bring forward to any job.<br><br>

    I look forward to the journey ahead of me.
  </p>
</div>

<!-- <a-scene>
    <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
    <a-sky color="#ECECEC"></a-sky>
  </a-scene> -->
<div id="contact" class="contact">
  <h1 class="mainTitle">
    Contact
  </h1>
  <a href="mailto:taras@taraspetryk.com?Subject=From%20taraspetryk.com" target="_top">taras@taraspetryk.com</a>
  <div class="to-top">
    <div (click)="scrollTop()">&#8679;</div>
  </div>
</div>



