
body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.3em;
  height: 100%;
  width: auto;
}

a{
  color: #000;
}
a-scene{

}
#contact{
  padding: 0% 4% 10%;
  text-align: center;
}
#virtual{
  padding: 5%;
  font-size: 1.5em;
}
.main, .about, .portfolio{
  height: 100%;
  background-size: 300%;
  padding: 0 4%;
  /*background: radial-gradient(#9b9c5a, #56ebf3);*/
  /*background: repeating-radial-gradient( #00C7FF, #00C7FF 2%, #CCBE14 10px, #CCBE14 3%);*/
  -webkit-animation: moveBG .2s ease-in-out infinite;
  -moz-animation: moveBG .2s ease-in-out infinite;
  animation: moveBG .2s ease-in-out infinite;

}
.header, .vr-button{
  text-align: center;
}
.a-enter-vr .embedded{
  right: 25%;
}
.header {
}
.header a{
  text-decoration: none;
  padding: 0 2%;
}
.mainTitle{
  margin: 0;
  padding: 3% 0 1%;
  font-size: 4em;
}
.subTitle{
  margin: 0;
  padding: 3% 0 1% 1%;
  font-size: 3em;
}
.subTitle span{
  font-size: 0.3em;
  padding: 0 1%;
}
.aboutTitle{
  padding: 3% 0 2%;
}
.portfolioBlocks{
  padding: 2% 0 3%;
}
.portfolioBlocks img{
  margin: auto;
  width: 82%;
  margin-bottom: 2%;
}
.portfolioBlocks a{
  text-decoration: none;
}
.portfolioBlocks a:hover{
  -webkit-animation:colorchange 10s infinite alternate;
}
.portfolioBlocks h3{
  font-size: 1em;
  text-align: center;
}
.portfolioBlocks a img{
  width: 11%;
  height: 10%;
  padding: 2%;
  cursor: pointer;
}
.portfolioBlocks img:hover{
  cursor: nesw-resize;
}
.to-top{
  font-size: 4em;
  text-align: right;
}
.to-top:hover{
  cursor: pointer;
}
.casey-link:hover {
  text-decoration: none;
   color:#313131;
  -webkit-animation:colorchange 10s infinite alternate;
}
#virtual span{
  -webkit-animation:colorchange 30s infinite alternate;
}
@media(max-width: 380px){
  .mainTitle{
  font-size: 3em;
  }
  .header a{
    font-size: 0.8em;
  }
  .subTitle{
    font-size: 2em;
  }
}
@-webkit-keyframes colorchange {
  0% {

    color: #eab410;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: #eab410;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: #eab410;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #f1c40f;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}

@-webkit-keyframes moveBG {
    0%{background-size: 5%;}
    50%{background-size: 11%;}
    100%{background-size: 5%;}
}
@-moz-keyframes moveBG {
    0%{background-size: 5%;}
    50%{background-size: 11%;}
    100%{background-size: 5%;}
}
@keyframes moveBG {
    0%{background-size: 5%;}
    50%{background-size: 11%;}
    100%{background-size: 5%;}
}
